.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  background-color: #FFF;
  height: 60px;
  padding: 10px;
  color: black;
  border-bottom: 1px solid #ddd;
  z-index: 2;
}

.App-title-image {
  height: 50px;
  margin-top: -49px;
}

.App-intro {
  font-size: large;
}

.App-footer {
  position: fixed;
  bottom: -8px;
  border-top: 1px solid #ddd;
  z-index: 2;
  height: 70px;
  width: 100%;
  display: table;
  background-color: #fff;
}

.App-footer-image {
  width: 60px;
  margin-top: -7px;
  margin-left: -12px;
}

.App-footer-navitem {
  width: 70px;
  height: 80px;
  margin-left: 5%;
}

.search-bar {
  width: 75%;
  margin: 3px;
}

.search-type {
  width: 60px;
  margin-top: 3px;
  margin-left: 20px;
}

.underline {
  border-bottom: 1px solid #ddd;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}