.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FFF;
  height: 60px;
  padding: 10px;
  color: black;
  border-bottom: 1px solid #ddd;
}

.App-title-image {
  height: 50px;
  margin-top: -49px;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}